
// Viewport Sizes
$mobile-width: 320px;
$wide-mobile-width: 375px;
$tablet-width: 800px;
$desktop-width: 1024px;
$wide-desktop-width: 1125px;
$large-desktop-width: 1280px;
$xlarge-desktop-width: 1440px;
$xxlarge-desktop-width: 1800px;

@font-face {
  font-family: 'Heldane Display Bold';
  src: url('/fonts/heldane-display-web-bold.eot') format('eot'),
  url('/fonts/heldane-display-web-bold.woff') format('woff'),
  url('/fonts/heldane-display-web-bold.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Heldane Display Regular';
  src: url('/fonts/heldane-display-web-regular.eot') format('eot'),
  url('/fonts/heldane-display-web-regular.woff') format('woff'),
  url('/fonts/heldane-display-web-regular.woff2') format('woff2');
  font-display: fallback;
}

:root {
  --gray: #DBDBDB;
  --ash: #6e6e75;
  --cornflower: #7570FA;
  --indigo: #3121B0;
  --smoke: #F5F5F5;
  --red: #fa4d56;
  --heldane: 'Heldane Display Regular';
  --heldaneBold: 'Heldane Display Bold';
  --inter: 'Inter, sans-serif';
}