
.article {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 3.8rem 1.5rem 10rem 1.5rem;
  box-sizing: border-box;

  @media screen and (min-width: 768px){
    padding: 3.8rem 0 10rem 0;
  }

  .title {
    max-width: 36rem;
    font-family: var(--heldaneBold);
    font-size: 2rem;
    margin: 0 auto;

    @media screen and (min-width: 768px){
      font-size: 2.5rem;
    }
  }

  .featured {
    margin: .6rem 0 2.25rem 0;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    max-width: 48.25rem;
    font-weight: 100;
  }

  .author {
    text-align: center;
    margin: 0 auto 1rem auto;
    display: block;
  }

  .subtitle {
    margin: 0 auto 1rem auto;
    text-align: center;
    max-width: 25rem;
    display: block;
    font-size: 0.7rem;
  }

  .body p {
    width: inherit;
    letter-spacing: -0.25px;
    font-size: 1.15rem;
    line-height: 1.8rem;
    text-align: left;
    margin: .8rem auto 0 auto;
    white-space: pre-wrap;
    font-weight: 100;

    &:first-child {
      margin: 0;
    }
  }
}