
.search-page {
  width: 100%;
  height: calc(100vh - 91px);
  padding: 2rem 1.5rem 0 1.5rem;

  h1 {
    text-align: center;
    font-family: var(--heldaneBold);
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid var(--gray);
    border-radius: 12px;
  }

  button {
    width: 65px;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px 0;
    background: none;
    padding: 0;
    margin: 0;

    &:focus {
      outline: 2px dotted black;
    }

    img {
      width: 22px;
    }
  }
  input[type='text']{
    flex: 1;
    height: 100%;
    border: none;
    background: none;
    padding: 0 1.5rem;
    border-radius: 15px 0 0 15px;
    outline: none;
    // font-size: 1.25rem;
  }
}