
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  [role='feed'] {
    margin: 0 auto;
    padding: 2rem 0 5rem 0;

    @media screen and (min-width: 800px){
      width: 768px;
    }
    @media screen and (min-width: 1280px){
      width: 1140px;
    }
  }

  [role='grid'] {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
    justify-content: center;
  }

  [role='tablist']{
    width: 100%;
    max-width: 23rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #faf9fe;
    border-radius: 2.5rem;
    padding: 0 1rem;
  }

  [role='tab']{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.25s ease;
    border: none;
    
    &:hover, &:focus {
      background-color: rgba(var(--cornflower), 0.06);
      transition: background-color 0.25s ease;
    }

    &:focus {
      outline: 1.5px dashed var(--cornflower);

      span {
        font-weight: bold;
        color: var(--indigo);
      }
    }

    &::after {
      position: absolute;
      bottom: 0.5rem;
      content: '';
      width: 0;
      height: 1.5px;
      background-color: var(--indigo);
      transition: width 0.25s ease;
      border-radius: 2px;
    }

    &[aria-selected='true']{
      &::after {
        width: 1.8rem;
        transition: width 0.25s ease;
      }
      span {
        font-weight: bold;
        color: var(--indigo);
      }
    }

    span {
      font-size: 0.85rem;
      color: var(--indigo);
    }
  }
}